<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37680523976-kcu8d1ptpsv01du02712u4gpk55lgoef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37680523976-kcu8d1ptpsv01du02712u4gpk55lgoef</string>
	<key>API_KEY</key>
	<string>AIzaSyCLyWsU7rX95FQIMu8bDNn2M_2RE9hAm7k</string>
	<key>GCM_SENDER_ID</key>
	<string>37680523976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.suhang</string>
	<key>PROJECT_ID</key>
	<string>leebanstudio</string>
	<key>STORAGE_BUCKET</key>
	<string>leebanstudio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37680523976:ios:b31aa44adfa8dd792553fd</string>
</dict>
</plist>